#dropdown-container {
	float: left;
	width: 100%;
}

#dropdown-container #select-wording {
	border: 0px solid #FFF;
	background-color: #FFF;
	padding: 4px 8px;
}

#dropdown-container .dropdown-toggle {
	display: block;
	padding: 12px 16px;
	border: 1px solid #CCC;
	background-image: linear-gradient(to bottom,#EEE,#EEE);
}

#dropdown-container .dropdown-toggle .caret {
	margin-left: 6px;
}

.dropdown-menu {
	min-width: 185px;
}

#annotations-container {
	display: inline-block;
	margin-left: 15px;
}

#annotations-container div:nth-child(n+2) {
	display: none;
}

#annotations-container h2 {
	float: left;
	font-size: 20px;
	line-height: 26px;
	text-transform: uppercase;
	margin: 0 0 5px 0;
	color: rgb(31, 119, 180);
}

#annotations-container p {
	float: left;
}

#annotations-container .header-container span {
	float: left;
	margin: 0 7px;
	line-height: 30px;
}


/* Line chart chart */
.axis path, .axis line {
	fill: none;
	stroke: #ccc;
}

.axis line {
	shape-rendering: crispEdges;
	display: block !important;
	stroke-dasharray: 1 1;
	stroke-opacity: 0.5;
}

.x-axis path, .y-axis path {
  display: none;
}

.line {
	fill: none;
	stroke-width: 2px;
}

.area {
	fill: rgb(186, 228, 179);
	opacity: 0.2;
}

circle {
	cursor: pointer;
	fill: #FFF;
	/* 	stroke: #006d2c; */
	stroke-width: 4px;
}

circle:hover {
	stroke: #777;
	stroke-width: 6px;
}

.rect-explainer {
  border: 1px solid #ccc;
  background: #FFF;
}

.x-axis-two .tick:nth-child(even) text {
	display: none;
}

btn {
	font-weight: bold;
	transition: all 0.2s ease-out;
	margin: 5px;
	padding: 5px;
	border: 1px solid #777;
	border-radius: 2px;
	width: 90px;
	display: block;
	float: left;
	text-align: center;
	cursor: pointer;
}

btn:hover, btn.selected {
	border: 1px solid #2e6da4;
	background-color: #337ab7;
	color: #FFF;
}

.word-count-annotation {
	display: none;
}

@media(max-width:550px) {
	table td {
		display: block;
		width: 100%;
	}

	#dropdown-container button {
		margin: 5px auto 10px auto;
		width: 98%;
	}

	.dropdown-menu {
		margin-top: 0px;
		width: 98%;
	}
}