#content {
	height: 350px !important;
}

/* Bar chart */
.axis-bar path, .axis-bar line {
	fill: none;
}

.x-axis-bottom-line {
	fill: none;
	stroke: #999;
	stroke-dasharray: 6px 1px;
	shape-rendering: crispEdges;
}

.horizontal-grid {
	stroke: #ccc;
	stroke-dasharray: 1px 3px;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}

.axis-bar text {
	font-size: 12px;
	fill: #333;
}

.x-axis-bar g text {
	display: none;
}

#axis-bar-0 g text {
	display: block;
}

.y-axis-bar path, .y-axis-bar line {
	opacity: 0;
}

.rect-bar:hover {
	fill: #999;
}

@media(max-width: 650px) {
	#content {
		height: 305px !important;
	}
}