#content {
	height: 345px !important;
}

/* Line chart chart */
.axis path, .axis line {
	fill: none;
	stroke: #ccc;
}

.axis line {
	shape-rendering: crispEdges;
	display: block !important;
	stroke-dasharray: 1 1;
	stroke-opacity: 0.75;
}

.x-axis path, .y-axis path {
  display: none;
}

.line {
	fill: none;
	stroke: #006d2c;
	stroke-width: 2px;
}

.area {
	fill: rgb(186, 228, 179);
	opacity: 0.2;
}

circle {
	fill: #FFF;
	stroke-width: 2px;
}

.rect-explainer {
  border: 1px solid #ccc;
  background: #FFF;
}

.x-axis-two .tick:nth-child(even) text {
	display: none;
}

text .note {
	font-size: 11px;
    font-style: italic;
}

@media(max-width:550px) {
	#content {
		height: 290px !important;
	}	
}