/* General */
html, body {
	padding: 0px !important;
	margin: 0px;
}

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	background-color: #fff;
}

a, .button {
	transition: all 0.2s ease-out;
	cursor: pointer;
}

h4, h5 {
	float: left;
}

h5 {
	margin: 5px 0 0 0;
	width: 100%;
}

h4 {
	margin: 15px 0 10px 10px;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.left {
	float: left;
}

.right {
	float: right;
}

/* Charts */
.svg-container {
	width: 100%;
}

svg {
	padding-bottom: 25px;
}

.chart-container p {
  text-align: right;
  margin: 0 5px 0 0;
  font-size: 11px;
  line-height: 14px;
  color: #777;
}

.tick text {
	fill: #777;
}


/*Tooltip */
div.tooltip {
	font-size: 13px;
	visibility:hidden;
	background: rgba(255, 255, 255, 0.9);
	border: 1px solid #ccc;
	position: absolute;
	padding: 5px 10px;
	opacity: 1 !important;
	box-shadow: 0px 1px 3px #ccc;
}

#toggle-key {
	width: 100%;
}

#toggle-key .toggle-key-td {
	width: 50%;
}

/* Key */
#key {
	font-size: 12px;
	line-height: 16px;
	border-collapse: separate;
	border-spacing: 4px;
	float: right;
	margin: 5px;
	padding: 0px 6px;
	margin: 0 auto;
}

.key-color {
	width: 18px;
}

.color-one {
	background-color: rgb(31, 119, 180);
}

.color-two {
	background-color: rgb(255, 127, 14);
}

.color-three {
	background-color: rgb(44, 160, 44);
}

.color-four {
	background-color: rgb(214, 39, 40);
}

.color-five {
	background-color: rgb(148, 103, 189);
}

.color-six {
	background-color: rgb(140, 86, 75);
}

/* Toggle buttons */
.toggle-view {
	overflow: hidden;
	width: 45%;
	margin: 0 auto;
}

.toggle-view .toggle-view-option {
	float: left;
	width: 46%;
	margin-right: 1%;
	padding: 1%;
	text-align: center;
	background-color: #eaf4fb;
	color: #555;
	font-weight: bold;
	border-bottom: 3px solid #777;
	cursor: pointer;
}

.toggle-view .selected, .toggle-view .toggle-view-option:hover {
	background-color: #1f78b4;
	border-bottom: 3px solid #444;
	color: #FFF;
	text-decoration: none;
}


@media(max-width:650px) {
	div.tooltip {
		width: 50%;
	}

	.toggle-view {
		width: 90%;
	}
}

@media(max-width: 450px) {
	#key, #key td {
		padding: 0px;
	}
}
