<!DOCTYPE html>
<html>
<head>
    <title>iFrame test</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <!-- Mobile meta tags-->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="cleartype" content="on">
    
    <script src="js/lib/jquery-1.11.1.min.js"></script>
    <script src="js/lib/underscore-1.8.3.min.js"></script>
    <script src="js/lib/jquery-lazyload-any-0.1.8.js"></script>
    <script src="http://gadev.cdr.dc.publicus.com/JS/article-lazyload.js"></script>

    <!-- Base, custom styles -->
    <link rel="stylesheet" href="http://gadev.cdr.dc.publicus.com/css/featureArticle.css" />
    <link rel="stylesheet" href="http://gadev.cdr.dc.publicus.com/css/article-embeds.css" />
    <link rel="stylesheet" href="css/style.css" />
    <style>
    body {
        margin: 0px;
    }
    </style>
</head>
<body>
    <div id="chart-homicides-container" class="chart-container left">
        <h3>Chart headline goes here</h3>
        <div class="lazyload"><!--
        <div class="iframe-responsive-container chart" data-height="450px" data-400-height="550px" data-550-height="600px">
        <iframe src="index.html" scrolling=no frameborder="0" width="100%"></iframe>
        </div>
        --></div>
        <p>Attribution goes here.</p>
    </div>
    <script src="http://gadev.cdr.dc.publicus.com/js/article-embeds.js"></script>
</body>
</html>