<!DOCTYPE html>
<html lang="en">
	<head>
		<title>D3 bar chart</title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
		<link rel="shortcut icon" href="imgs/gazette-kcrg.png" />

		<!-- Mobile meta tags-->
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta http-equiv="cleartype" content="on">
		<link rel="apple-touch-icon" href="imgs/gazette-kcrg.png"/>

		<!-- Social meta tags-->
		<meta property="og:type" content="article"/>
		<meta property="og:site_name" content="The Gazette/KCRG"/>
		<meta property="twitter:site" content="@gazettedotcom">
		<meta property="twitter:image" content="imgs/gazette-kcrg.png">

		<!-- INCLUDES -->
		<!-- Base styles: Libraries -->
		<link rel="stylesheet" href="css/lib/bootstrap-2.3.2.min.css" />
		<link rel="stylesheet" href="css/lib/bootstrap-responsive-2.3.2.min.css" />
		<link rel="stylesheet" href="css/lib/font-awesome-4.2.0.min.css" />

		<!-- Base, custom styles -->
		<link rel="stylesheet" href="css/base.css" />
		<link rel="stylesheet" href="css/style.css" />

		<!-- Load Spin.js -->
		<script src="js/lib/spin-2.0.1.min.js"></script>
	</head>
	<body>
		<div id="content">
			<div id="chart-one-container">
				<!-- <p>Chart headline goes here</p> -->
				<div id="svg-one-container">
					<div id="tooltip-one" class="tooltip">Tipsy!</div>
				</div>
			</div>
		</div>

		<!-- Spin.js -->
		<script>
		var opts = {
			lines: 13, // The number of lines to draw
			length: 20, // The length of each line
			width: 10, // The line thickness
			radius: 30, // The radius of the inner circle
			corners: 1, // Corner roundness (0..1)
			rotate: 0, // The rotation offset
			direction: 1, // 1: clockwise, -1: counterclockwise
			color: '#000', // #rgb or #rrggbb or array of colors
			speed: 1, // Rounds per second
			trail: 60, // Afterglow percentage
			shadow: false, // Whether to render a shadow
			hwaccel: false, // Whether to use hardware acceleration
			className: 'spinner', // The CSS class to assign to the spinner
			zIndex: 2e9, // The z-index (defaults to 2000000000)
			top: '100px', // Top position relative to parent
			left: '50%' // Left position relative to parent
		};
		var target = document.getElementById('content');
		var spinner = new Spinner(opts);
		spinner.spin(target);
		</script>
	
		<!-- JS: Libraries -->
		<script src="js/lib/jquery-1.11.1.min.js"></script>
		<script src="js/lib/underscore-1.8.3.min.js"></script>
		<script src="js/lib/d3.v3.5.5.min.js"></script>
		<script src="js/lib/d3.tip.js"></script>
		<script src="js/lib/backbone-1.1.2.min.js"></script>
		
		<!-- Base, custom JS -->
		<script src="js/base.js"></script>
		<script src="js/view-chart.js"></script>
		<script src="js/view.js"></script>
		<script src="js/script.js"></script>

		<!-- Start Google Analytics Javascript -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-30416-68', 'auto');
			ga('require', 'displayfeatures');
			// ga('send', 'pageview');
		</script>
	</body>
</html>